APP_ENV=local
APP_NAME="Innov'Events Manager"
BASE_URL=http://localhost:8081

DB_HOST=db
DB_PORT=3306
DB_NAME=innovevents_db
DB_USER=root
DB_PASS=root_password

MONGO_DATABASE=innovevents_nosql
MONGO_URI=mongodb://mongodb:27017

SMTP_HOST=mailhog
SMTP_PORT=1025
